  {{resultsArray | json}}
<md-card *ngFor="let activity of resultsArray  ">

<md-card-content >
        <md-toolbar color="primary">
          <span>Total: {{activity.total}}</span>
          <span class="example-fill-remaining-space"></span>

          <span>{{activity.week}}</span>
        </md-toolbar>

  <table>
    <tbody *ngFor="let item of activity.results let i = index ">
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <tr>
        <td align="center" valign="middle" class="act" [ngStyle]="{'background-color': colors[i]}">{{item.$key}}</td>
        <button md-fab (click)="updateActivity(item.$key, -1)" [ngStyle]="{'background-color': colors[i], 'color': 'white'}">
                <md-icon class="md-24">remove</md-icon>
              </button>
        <td align="center" valign="middle" [ngStyle]="{'background-color': colors[i], 'color': 'white', 'border-radius': '25px', 'font-size': '150%', 'width': '100px'}">{{item.$value}}</td>
        <button md-fab (click)="updateActivity(item.$key, 1)" [ngStyle]="{'background-color': colors[i], 'color': 'white'}">
                <md-icon class="md-24">add</md-icon>
              </button>
      </tr>
    </tbody>
  </table>
  <!--Total: {{activity.total}}-->
</md-card-content>
<md-card-footer>
        <md-toolbar color="primary">
          <span>Total: {{activity.total}}</span>

          <!-- This fills the remaining space of the current row -->
          <span class="example-fill-remaining-space"></span>

          <span>{{activity.week}}</span>
        </md-toolbar>

</md-card-footer>
</md-card>