<md-sidenav-layout class="demo-root" fullscreen>
  <md-sidenav #start>
    <md-nav-list>
      <a md-list-item [routerLink]="[ '/dashboard/people' ]" (click)="start.close()">
        <md-icon md-list-icon>folder</md-icon>
        <span md-line>People</span>
        <span md-line class="demo-secondary-text"> Description </span>
      </a>
      <a md-list-item [routerLink]="[ '/dashboard/activities' ]" (click)="start.close()">
        <md-icon md-list-icon>folder</md-icon>
        <span md-line>Activities</span>
        <span md-line class="demo-secondary-text"> Description </span>
      </a>
      <hr>
      <!--<a md-list-item [routerLink]="['baseline']">Baseline</a>-->
    </md-nav-list>
    <!--<button md-button (click)="start.close()">CLOSE</button>-->
  </md-sidenav>
  <div>
    <md-toolbar color="primary">
      <button md-icon-button (click)="start.open()">
        <md-icon class="md-24" >menu</md-icon>
      </button>
      <div class="demo-toolbar">
        <h1>Count them up!</h1>
        <button md-button>
        </button>
      </div>
    </md-toolbar>

    <div class="demo-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</md-sidenav-layout>