<!--<p>
  dashboard works!
</p>

<a [routerLink]="[ '/dashboard/people' ]">People</a>

<a [routerLink]="[ '/dashboard/activities' ]">Activities</a>-->
<md-card>
<md-card-content>
<div class="grid grid-pad">
  <div *ngFor="let person of people$ | async" (click)="announcePersonSelected(person)" (click)="gotoDetail(person.name)" class="col-1-4">

      <div class="module hero">
        <h4>{{person.name}}</h4>
      </div>

  </div>
</div>
</md-card-content>
</md-card>

<app-activities></app-activities>
<!--<div class="grid grid-pad">
  <div *ngFor="let person of people$ | async" (click)="announcePersonSelected(person)" (click)="gotoDetail(person.name)" class="col-1-4">
    <a [routerLink]="[ '/dashboard/activities' ]">
      <div class="module hero">
        <h4>{{person.name}}</h4>
      </div>
      </a>
  </div>
</div>-->

    <!--<h2>Mission Control</h2>
    <button (click)="announce()">Announce mission</button>
    <app-astronaut *ngFor="let astronaut of astronauts"
      [astronaut]="astronaut">
    </app-astronaut>
    <h3>History</h3>
    <ul>
      <li *ngFor="let event of history">{{event}}</li>
    </ul>-->
    
<!--<router-outlet></router-outlet>-->