.act {
    color: white;
    border-radius: 25px;
    font-size: 150%;
    width: 280px
}

.cnter {
        display: flex;
    position: absolute;

    align-items: center;
    justify-content: center;
    height: 100%;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0;
    margin: 0;
}

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox.  
  // Every toolbar row uses a flexbox row layout. 
  flex: 1 1 auto;
}

.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-sidenav {
  padding: 10px;
  min-width: 100px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-toolbar-filler {
  flex: 1 1 auto;
  float: left;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-icon-button {
  box-shadow: none;
  background: none;
  border: none;
  cursor: pointer;
  filter: none;
  font-weight: normal;
  height: auto;
  line-height: inherit;
  margin: 0;
  min-width: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-list {
  border: 1px solid rgba(0,0,0,0.12);
  width: 350px;
  margin: 20px;
}

.app-progress {
  margin: 20px;
}

 dl {
    border: 3px sinlge #ccc;
    padding: 0.5em;
  }
  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: right;
    font-weight: bold;
    color: green;
  }
  dt:after {
    content: ":";
  }
  dd {
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
  }
  
  toolbar {
    flex: 1 1 auto;
  }
  
  .chart {
    display: block; 
    width: 100%;
  }
  
  .demo-toolbar {
  padding: 6px;
}

.demo-toolbar-icon {
  padding: 6px;
  padding: 0 14px 0 14px;
}

.demo-fill-remaining {
  padding: 6px;
  flex: 1 1 auto;
}



md-sidenav {
  width: 200px;
  height: 768px;
}

.cnter {
        display: flex;
    position: absolute;

    align-items: center;
    justify-content: center;
    height: 100%;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    padding: 0;
    margin: 0;
}

.card-container {
  display: flex;
  flex-flow: column nowrap;

  md-card {
    margin: 16px;
    width: 350px;
  }

  img {
    background-color: gray;
  }
}

.demo-card-blue {
  background-color: #B0BECC;

  md-card-actions {
    display: flex;
    flex-direction: column;
  }
}


.demo {
  display: flex;
  flex-flow: row wrap;

  md-list, md-nav-list {
    border: 1px solid rgba(0,0,0,0.12);
    width: 350px;
    margin: 20px 20px 0 0;

  }
  h2 {
    margin-top: 20px;
  }

  md-icon {
    color: rgba(0,0,0,0.12);
  }

  [md-list-icon] {
    color: white;
    background: rgba(0,0,0,0.3);
  }
}

.demo-secondary-text {
  color: rgba(0, 0, 0, 0.54);
}